Preview.html
.DS_Store
.*.sw*
*~
Derived/
DerivedData/
*xcodeproj/*mode*
*xcodeproj/*pbxuser
*xcodeproj/*per*
*xcodeproj/project.xcworkspace
*xcodeproj/xcuserdata
*tmproj
profile
*.pbxuser
*.mode1v3
External/GHUnit/*
.svn
*/xcuserdata
pkg
build.output
.build

*.xcuserstate
*.xcuserdatad
WorkspaceSettings.xcsettings
Breakpoints.xcbkptlist

*.bcsymbolmap

swiftlint.result.html

## Playgrounds
timeline.xctimeline
playground.xcworkspace

## Swift Packages
*/.swiftpm

build/
cobertura.xml
